:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(41, 41, 41);
}

.title {
  width: 95%;
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  line-height: 1.1;
  /* border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff; */
}

h1 {
  font-size: 40px;
  font-weight: 500;
  color: lightgray;
  margin-bottom: 13px;
  padding: 0px 80px;
  text-align: right;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  /* border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff; */
}

h2 {
  margin-top: 8px;
  font-weight: 400;
  color: #888;
  font-size: 18px;
  padding: 0px 110px;
  text-align: right;
}
