#svg-container {
  /* border: 1px solid red; */
  width: 95%;
  max-width: 1020px;
  height: 440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#svg {
  width: 100%;
  height: 100%;
  /* background-color: #f7f7f7; */
  /* border: 1px solid red; */
}

.legend-labels {
  font-size: 10px;
  text-anchor: middle;
}

.legend-labels unit {
  color: white;
}

.x-axis .domain {
  display: none;
}

.x-axis .tick line {
  stroke-width: 0.3px;
  stroke: white;
}

.x-axis .tick {
  color: lightgray;
}

.y-axis .domain {
  display: none;
  text-anchor: middle;
  font-size: 10px;
  text-transform: uppercase;
}

.y-axis .tick {
  color: lightgray;
}

.y-axis .tick line {
  display: none;
}

.tooltip {
  position: absolute;
}

/* Buttons */
.button-container {
  width: 98%;
  max-width: 900px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  text-align: center;
  /* border: 1px solid red; */
}

.button-container button {
  cursor: pointer;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
}

#text-desc {
  font-size: 18px;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
  /* border: 1px solid red; */
}

/* .button-container button:hover {
  background-color: rgba(0, 0, 0, 0.13);
} */

.button-clicked {
  background-color: #111 !important;
  color: #fff;
}
/* .button-released {
  background-color: rgba(0, 0, 0, 0);
  color: #000;
} */
